# CSS 2 Lecture 2

## assignment feedback.

Sorry for delay: there is a slight technical problem that datahub admin needs to resolve for me, which is precluding me from releasing feedback on Lab 1.  However, I can confirm that I received 12 submissions (which is how many people are enrolled in the class, last I checked), and all got 5/5.  

```
a3xie  arnewlan  bedu  bzekeria  cpretori  jop007  juy003  lmesko  mbelon  miyin  talam  zyc004
```

If you submitted lab 1, and do not see your username on this list, please DM me so we can sort it out.

After the technical problem is resolved, I will be able to release feedback to you that you can view through the assignment interface

## Remainder of Monday



### Control structures

- if statements

- for loops over (strings, lists, dictionaries)

In [2]:
x = 3
%whos
y = 5
%whos
print(x)
%whos
x = y**2
%whos
print(x)
%whos

Variable   Type    Data/Info
----------------------------
x          int     3
y          int     5
Variable   Type    Data/Info
----------------------------
x          int     3
y          int     5
3
Variable   Type    Data/Info
----------------------------
x          int     3
y          int     5
Variable   Type    Data/Info
----------------------------
x          int     25
y          int     5
25
Variable   Type    Data/Info
----------------------------
x          int     25
y          int     5

In [3]:
height = 68
weight = 170
weight_units = 'lbs'

# change height to inches if it is in cm
if height > 120:
    # height is in cm if height > 120
    height = height / 2.54  # height /= 2.54

# change weight to lbs if it is in kgs
if weight_units == 'kgs':
    weight /= 2.2

In [5]:
if condition 1:
    do something
elif condition 2:
    do B
elif condition 3:
    do C
else:
    do D
   

if A:
    do something
    
if B:
    do something else
    
if C:
    do something else

SyntaxError: invalid syntax (<ipython-input-5-a6cdcca9859c>, line 1)

In [8]:
names = ['ed', 'alice', 'bob', 'carol']

i = 0
for x in names:
    print(i, x)
    i += 1

0 ed
1 alice
2 bob
3 carol

In [10]:
for character in 'sentence and stuff':
    print(character)

s
e
n
t
e
n
c
e

a
n
d

s
t
u
f
f

In [17]:
heights = {'alice':68, 'bob':70, 'carol':72, 'dave':74}

#for x in heights.values():
#    print(x)


for key,value in heights.items():
    print(key, value)

alice 68
bob 70
carol 72
dave 74

In [24]:
sentence = 'sentence and stuff'

print(f'{len(sentence)=}')

for i in range(len(sentence)):
    print(i, sentence[i])

len(sentence)=18
0 s
1 e
2 n
3 t
4 e
5 n
6 c
7 e
8
9 a
10 n
11 d
12
13 s
14 t
15 u
16 f
17 f

In [27]:
instructor = 'Ed'
course = 'css2'

print('The instructor of ' + course + ' is ' + instructor)

The instructor of css2 is Ed

In [29]:
print(f'The instructor of {course} is {instructor}')

The instructor of css2 is Ed

In [31]:
print(f'{course=}')

course='css2'

In [33]:
print('course', course)

course css2

In [34]:
print(f'{len(course)=}')

len(course)=4

### Abstractions

- functions

In [36]:
def addTwoThings(arg1, arg2):
    print(arg1 + arg2)
    return arg1+arg2

In [39]:
addTwoThings(2, 3)

5

5

In [40]:
x = 10

def addX(num):
    return num + x

In [42]:
addX(3)

13

In [43]:
def addX(num, x):
    return num + x

In [46]:
addX(3, 11)

14

In [48]:
x = 3
y = 10

z = addX(5, y)

print(z)

15

In [50]:
addX(x = y, num = 5)

15

In [57]:
def divide(a,b):
    return a/b

divide(b = 2, a = 4)

2.0

In [63]:
def divide(a = 1, b=1):
    return a/b

divide()

1.0

- classes

In [79]:
class Dog:
    def __init__(self, name, weight, sound):
        self.name = name
        self.weight = weight
        self.sound = sound
    
    def speak(self, times):
        print(self.sound * times)

rover = Dog('rover', 50, 'arf')
gus = Dog('gustofer', 100, 'woof')

In [80]:
rover.speak(3)
gus.speak(4)

arfarfarf
woofwoofwoofwoof

In [83]:
dir(rover)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'name',
 'sound',
 'speak',
 'weight']

In [85]:
' huzzah '.join(['a', 'b', 'c'])

'a huzzah b huzzah c'

In [66]:
x = 'sentence'

In [69]:
x.count('en')

2

### Pythonic peculiarieties

- list/tuple/set/dictionary comprehension

- assignment unpacking

- lambda functions

# Pandas and data frames



## Foundations

### Modules

In [87]:
print(4)

4

In [89]:
import math

In [92]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [93]:
math.cos(3.1415)

-0.9999999957076562

In [94]:
import random as rn

In [98]:
rn.random()

0.16651835891904865

In [99]:
from math import log

In [101]:
log(2.7)

0.9932517730102834

### numpy

- array / vector operations are fast

In [102]:
import numpy as np

In [107]:
x = [rn.random() for _ in range(10000)]

In [118]:
# we want to calculate 1/x for all values of x

y = []
for value in x:
    y.append(1/value)
print(y[:10])

[1.0678210818824767, 1.0396467540458318, 1.7637637210434658, 1.1251878788115341, 1.0036146922502087, 2.0686312404534117, 12.523164324007425, 1.1836249568603503, 2.0125206413177925, 2.2610330313445894]

In [111]:
array_x = np.asarray(x)

In [114]:
array_x

array([0.93648647, 0.96186517, 0.56696937, ..., 0.11432523, 0.79488082,
       0.28264345])

In [116]:
array_y = 1/array_x

In [119]:
print(array_y)

[1.06782108 1.03964675 1.76376372 ... 8.74697588 1.25805024 3.53802643]

In [121]:
array_y + array_x

array([2.00430756, 2.00151192, 2.33073309, ..., 8.86130111, 2.05293105,
       3.82066988])

In [130]:
x = [rn.random() for _ in range(10000)]

%timeit y = [val**2 for val in x]

783 µs ± 18.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [133]:
x = np.asarray(x)
%timeit y = x**2

3.67 µs ± 360 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

- also, super useful for linear algebra, matrices, but we are not going to cover that.

- supported array operations

In [135]:
dir(x)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

## Pandas

[tutorial](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html)

[cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

**Note: Committing all functions and their argument structure to memory is a lost cause.  That's not the goal.  The point is to know roughly how the system operates, and how to quickly look up the relevant functions**

data file we are using: Pokemon.csv.  Download here:

[https://raw.githubusercontent.com/UCSD-CSS-002/ucsd-css-002.github.io/master/datasets/Pokemon.csv](https://raw.githubusercontent.com/UCSD-CSS-002/ucsd-css-002.github.io/master/datasets/Pokemon.csv)

In [136]:
import pandas as pd

In [138]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [143]:
x = [rn.random() for _ in range(100)]

series_x = pd.Series(x)

In [145]:
series_x

0     0.756809
1     0.043829
2     0.872398
3     0.462937
4     0.490452
        ...
95    0.733972
96    0.809269
97    0.554349
98    0.497109
99    0.624116
Length: 100, dtype: float64

In [153]:
series_x = pd.Series(x, index = [chr(i) for i in range(100, 200)])

In [156]:
series_x

d    0.756809
e    0.043829
f    0.872398
g    0.462937
h    0.490452
       ...
Ã    0.733972
Ä    0.809269
Å    0.554349
Æ    0.497109
Ç    0.624116
Length: 100, dtype: float64

In [169]:
series_x.iloc[0:4]

d    0.756809
e    0.043829
f    0.872398
g    0.462937
dtype: float64

### Overview of data structures:

- series structure  (differences from... ndarray? list? dictionary?)  .values and .index

- dataframe structure  (index and columns, each column a series, kinda like dict, kinda like array)

In [171]:
poke = pd.read_csv('Pokemon.csv')

In [175]:
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [178]:
poke['Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

- index... why?

### Making a data frame

- from data already loaded in memory

In [184]:
heights = [48 + int(36*rn.random()) for _ in range(100)]

def randomName():
    n = ''.join([chr(int(rn.random()*26)+ord('a')) for _ in range(5)])
    return n.title()

names = [randomName() for _ in range(100)]

df = pd.DataFrame({'name':names, 'height':heights})

df

     name  height
0   Koeda      57
1   Rjsjg      78
2   Enybq      59
3   Ectya      53
4   Jeqbk      61
..    ...     ...
95  Fintk      52
96  Xbofx      58
97  Qfsxf      55
98  Hnehz      77
99  Lfiuo      72

[100 rows x 2 columns]

- from a csv file

`pd.read_csv('Pokemon.csv')`

- read_* functions

### browsing a data frame

- head, tail

In [188]:
poke.tail(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
poke.head(2)

- shape, columns

In [193]:
poke.shape

(800, 13)

In [195]:
list(poke.columns)

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

### Subsets:

https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

In [196]:
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Extracting columns (series)

- operations on columns

In [199]:
poke['Attack']

0       49
1       62
2       82
3      100
4       52
      ...
795    100
796    160
797    110
798    160
799    110
Name: Attack, Length: 800, dtype: int64

#### Extracting rows

In [209]:
poke.iloc[5:8]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False

#### Extracting cells

In [214]:
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [216]:
poke['Defense'].iloc[3]

123

In [219]:
poke.iloc[3]['Defense']

123

In [221]:
poke.iloc[3,7]

123

In [222]:
poke.loc[3, 'Defense']

123

### Indexing madness:

https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-choice


#### Filtering rows with booleans

In [228]:
poke[poke['Type 1']=='Grass']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [236]:
poke[(poke['Type 1']=='Grass') & (poke['HP'] > 80)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
111,103,Exeggutor,Grass,Psychic,520,95,95,85,125,65,55,1,False
298,275,Shiftry,Grass,Dark,480,90,100,60,90,60,80,3,False
390,357,Tropius,Grass,Flying,460,99,68,83,72,87,51,3,False
434,389,Torterra,Grass,Ground,525,95,109,105,75,85,56,4,False
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
516,465,Tangrowth,Grass,NaN,535,100,100,125,110,50,50,4,False
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
551,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False
701,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

In [237]:
poke[(poke['Type 1']=='Grass') | (poke['HP'] > 80)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

#### loc: index/label based indexing.

#### iloc: integer position indexing

- we will avoid using indexes, and will use integer and boolean selection


### Grouping

https://pandas.pydata.org/docs/user_guide/groupby.html#groupby

- what does grouping do?

### Summarizing

https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html

we will stick to using `.aggregate('newcol'=('oldcol','function'))`, although many other methods are available.